<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/insidelayout">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>

<div layout:fragment="content">
    <div class="row g-4 mb-3">
        <div class="card bg-transparent border rounded-3">
            <!-- Card header START -->
            <div class="card-header bg-transparent border-bottom">
                <h3 class="mb-0">Dashboard</h3>
            </div>
        </div>
        <!-- Counter item -->
        <div class="col-sm-6 col-lg-4">
            <div class="d-flex justify-content-center align-items-center p-4 bg-warning bg-opacity-15 rounded-3">
                <span class="display-6 text-warning mb-0"><i class="fas fa-regular fa-comment"></i></span>
                <div class="ms-4">
                    <div class="d-flex">
                        <h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="25"	data-purecounter-delay="200">0</h5>
                    </div>
                    <span class="mb-0 h6 fw-light">Chat with eBox</span>
                </div>
            </div>
        </div>
        <!-- Counter item -->
        <div class="col-sm-6 col-lg-4">
            <div class="d-flex justify-content-center align-items-center p-4 bg-purple bg-opacity-10 rounded-3">
                <span class="display-6 text-purple mb-0"><i class="fas fa-solid fa-book"></i></span>
                <div class="ms-4">
                    <div class="d-flex">
                        <h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="6"	data-purecounter-delay="200">0</h5>
                        <span class="mb-0 h5"></span>
                    </div>
                    <span class="mb-0 h6 fw-light">Grades Enrolled</span>
                </div>
            </div>
        </div>
        <!-- Counter item -->
        <div class="col-sm-6 col-lg-4">
            <div class="d-flex justify-content-center align-items-center p-4 bg-info bg-opacity-10 rounded-3">
                <span class="display-6 text-info mb-0"><i class="fas fa-regular fa-image"></i></span>
                <div class="ms-4">
                    <div class="d-flex">
                        <h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="2" data-purecounter-delay="300">0</h5>
                        <span class="mb-0 h5"></span>
                    </div>
                    <span class="mb-0 h6 fw-light">Images Created</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Counter boxes START -->
    <!-- Counter boxes END -->

    <div class="card bg-transparent border rounded-3">
        <!-- Card header START -->
        <div class="card-header bg-transparent border-bottom">
            <h3 class="mb-0">My Subscription List,Go to Chat</h3>
        </div>
        <!-- Card header END -->

        <!-- Card body START -->
        <div class="card-body">

            <!-- Search and select START -->

            <!-- Search and select END -->

            <!-- Course list table START -->
            <div class="table-responsive border-0">
                <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
                    <!-- Table head -->
                    <thead>
                    <tr>
                        <th scope="col" class="border-0 rounded-start">Subjects</th>
                        <th scope="col" class="border-0">Answered</th>
                        <th scope="col" class="border-0 rounded-end">Continue to Chat</th>
                    </tr>
                    </thead>

                    <!-- Table body START -->
                    <tbody>
                    <!-- Table item -->
                    <tr>
                        <!-- Table data -->
                        <td>
                            <div class="d-flex align-items-center position-relative">
                                <!-- Image -->

                                <div class="mb-0 ms-2 d-flex">
                                    <!-- Title -->
                                    <i class="fa fa-book me-2"></i>
                                    <h6 class="mb-0"><a href="#" class="stretched-link">Class 9 :Social</a></h6>
                                    <!-- Address -->
                                </div>
                            </div>
                        </td>

                        <!-- Table data -->


                        <!-- Table data -->
                        <td>10</td>

                        <!-- Table data -->


                        <!-- Table data -->
                        <td>

                            <button class="btn btn-info-soft btn-round mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Continue to chat"><i class="bi bi-play-circle me-1"></i></button>
                        </td>

                    </tr>

                    <!-- Table item -->
                    <tr>
                        <!-- Table data -->
                        <td>
                            <div class="d-flex align-items-center position-relative">
                                <!-- Image -->

                                <div class="mb-0 ms-2 d-flex">
                                    <!-- Title -->
                                    <i class="fa fa-book me-2"></i>
                                    <h6 class="mb-0"><a href="#" class="stretched-link">Class 9 :Maths</a></h6>
                                    <!-- Address -->
                                </div>
                            </div>
                        </td>

                        <!-- Table data -->


                        <!-- Table data -->
                        <td>12</td>

                        <!-- Table data -->


                        <!-- Table data -->
                        <td>

                            <button class="btn btn-info-soft btn-round mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Continue to chat"><i class="bi bi-play-circle me-1"></i></button>
                        </td>

                    </tr>

                    <!-- Table item -->


                    <!-- Table item -->


                    <!-- Table item -->


                    <!-- Table item -->

                    </tbody>
                    <!-- Table body END -->
                </table>
            </div>
            <!-- Student list table END -->

            <!-- Pagination START -->
            <div class="d-sm-flex justify-content-sm-between align-items-sm-center mt-4 mt-sm-3">
                <!-- Content -->

                <!-- Pagination -->
                <nav class="d-flex justify-content-center mb-0" aria-label="navigation">
                    <ul class="pagination pagination-sm pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
                        <li class="page-item mb-0"><a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-left"></i></a></li>
                        <li class="page-item mb-0"><a class="page-link" href="#">1</a></li>
                        <li class="page-item mb-0 active"><a class="page-link" href="#">2</a></li>
                        <li class="page-item mb-0"><a class="page-link" href="#">3</a></li>
                        <li class="page-item mb-0"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
                    </ul>
                </nav>
            </div>

            <!-- Pagination END -->
        </div>
        <!-- Card body START -->
    </div>
</div>

</body>
</html>